.venv/
.env/
venv/
env/
__pycache__/
*.pyc
instance/
*.sqlite3
.DS_Store
.idea/
.vscode/
*.log
.env
_backup/
app/*/migrations/*
!app/*/migrations/__init__.py
media/*
!media/games/
media/games/*
!media/games/default_game_image.png